body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
}

#container {
  margin: 10px;
}

#content {
  margin: 10px 10%;
  padding: 15px 30px;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
}

#feedback {
  margin: 1em 0;
  height: 1.5em;
  font-weight: 700;
  font-size: 22px;
}

.correct-guess {
  color: forestgreen;
}

#instructions {
  margin: 1em 0;
  height: 1.5em;
  font-weight: 600;
  font-size: 18px;
}